<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Clinic-In Box Workflow Suit">
    <test name="Regression">
        <classes>
            <class name="bcvaxdevit.my.salesforce.com.Tests.Inventory.BulkTransfers">
                <methods>
                    <include name="Can_do_Bulk_transfers_by_Dosages_as_PPHIS_BCVAXDEVIT"/>
                </methods>
            </class>
            <class name="bcvaxdevit.my.salesforce.com.Tests.Inventory.BulkTransfers">
                <methods>
                    <include name="Precondition"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->