<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Clinic-In Box Workflow Suit">
    <test name="Regression">
        <classes>
            <class name="BookingDose2">
                <methods>
                    <include name="Test1"/>
                </methods>
            </class>
            <class name="BookingDose2">
                <methods>
                    <include name="Test2"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->