<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Clinic-In Box Workflow Suit">
    <test name="Regression">
        <classes>
            <class name="bcvaxdevit.my.salesforce.com.Tests.Precondition.CitizenDuplicates">
                <methods>
                    <include name="Can_search_and_remove_Citizen_participant_account"/>
                </methods>
            </class>
            <class name="bcvaxdevit.my.salesforce.com.Tests.ClincInBox.BookingDose1">
                <methods>
                    <include name="Can_Book_Dose1_Appointment_as_Clinician_CIB_BCVAXDEVIT"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->